h1{
    font-family: 'Rowdies', cursive;
    text-align: center;
    color: red;
}
div{
    margin: 20px auto;
    background-color: whitesmoke;
   
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}
img{
    width: 200px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
table{
    margin: 20px auto;
}
th{
    margin: 20px auto;
}
td{
    margin: 10px;
    padding: 10px;
}
.picture{
    width: 600px;
    height: 600px;
    margin: 20px auto;
    padding-left: 500px;
}

button{
    margin: 20px auto;
    font-size: 20px;
    margin: 20px;
    padding: 20px;

}
#counter{
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: yellowgreen;
}
.count{
    position: relative;
    left: 450px;
}
.form{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
.img{
    width: 200px;
    height: 200px;
    margin: 20px auto;
}